@charset "utf-8"; /* prevents badly encoded icons */

:root {
  --appFont: system-ui;
  --appPadding: .6em;
}

[icon]::before {
  padding-right: 1ex;
  font-size: x-large;
}

[icon=paused]::before {
  content: "⏸️";
}

[icon=skipNext]::before {
  content: "⏭️";
}

[icon=skipPrev]::before {
  content: "⏮️";
}

[icon=timeout]::before {
  content: "⏱️";
}

[icon=deadtime]::before {
  content: "🛑";
}

html {
  overflow: hidden;
  background: #222222;
}

html, * {
  margin: 0;
  padding: 0;
  outline: none;

  color: whitesmoke;
  font-family: var(--appFont);
}

@media (orientation: portrait) {
  header {
    flex-wrap: wrap;
  }

  #overlay > div {
    flex-direction: column-reverse;
  }

  #overlayHist {
    width: 100% !important;
    height: 100%;
  }

  #sequencer {
    flex-direction: column;
    flex-wrap: nowrap !important;

    timer-item {
      width: 100%;
    }
  }
}

main {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}

header {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0 var(--appPadding);
  margin-top: 0.5em;
  border-radius: 0.3em;

  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: .5em;
    width: 100%;

    &:first-child {
      padding-bottom: 0;
    }

    &:nth-child(2) {
      background: black;
      border-radius: .3em;

      #executeCount {
        font-size: x-large;
        color: whitesmoke;
        background: inherit;
        text-align: center;
        width: 2em;
        border: none;
        border-bottom: solid thin dimgray;
      }
    }
  }

  button {
    aspect-ratio: 2;

    &:disabled {
      filter: brightness(.5);
    }
  }

  input, h2 {
    font-weight: bold;
    color: whitesmoke;
  }

  #sequenceTitle {
    font-size: x-large;
    background: inherit;
    width: inherit;
    border: none;
    border-bottom: solid thin dimgray;
  }
  
  #startSequence {
    background: #317bff;
    border-color: #1f54f4;
  }

  #saveSequence {
    margin-left: auto;
  }

  #executeCount {
    background: #444444;
    border-color: #222222;
    user-select: none;
    cursor: ns-resize;
  }
}

#sequenceList {
  display: flex;
  flex-shrink: 0;
  gap: .5em;
  margin: .5em var(--appPadding);
  overflow: auto hidden;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    border: solid thin silver;
    border-radius: .3em;

    &:hover {
      cursor: pointer;
    }

    p {
      margin-left: 1em;
      text-overflow: ellipsis;
      text-wrap-mode: nowrap;
      overflow: hidden;
      user-select: none;
    }

    button {
      background: inherit;
      border: none;
      border-left: solid thin;
      border-radius: 0;

      &:hover {
        transform: scale(1);
      }
    }
  }
}

#sequencer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--appPadding);
  padding: var(--appPadding);
  padding-top: 0;
  overflow: auto;

  timer-item {
    font-size: small;
    filter: brightness(0.5);
    transition: .1s;

    &.selected {
      filter: brightness(1);
    }
  }
}

button {
  font-size: medium;
  font-weight: bold;
  color: whitesmoke;
  background: seagreen;
  border: none;
  border-bottom: solid darkgreen;
  border-radius: 0.3em;
  padding: 0.5em;
  transition: .2s;

  &:enabled {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      filter: brightness(.9);
    }

    &:active {
      transform: scale(.9);
    }
  }
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #222222;
  z-index: 2;
  transition: .2s;
  justify-content: center;
  align-items: center;

  #overlayHist {
    display: flex;
    flex-direction: column;
    width: 40%;
    background: #101010;
    overflow: hidden auto;
    transition: .2s;

    &:empty {
      width: 0;
      height: 0;
      padding: 0;
    }

    & > p {
      font-size: small;
      color: whitesmoke;
      background: #2e2e2e;
      display: flex;
      align-items: center;
      padding: .5em 1em;
      margin: .4rem;
      margin-top: 0;
      border-radius: 0.3em;

      word-break: break-all;
      white-space: pre-line;
      box-shadow: 0px 2px 8px 0px black;

      &:first-child {
        margin-top: .4rem;
      }

      &[icon=deadtime] {
        background: none;
        box-shadow: none;
      }
    }
  }

  #overlayDisplay {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    .overlayInfo {
      color: whitesmoke;
      font-weight: bold;
      font-size: xxx-large;
      text-align: center;
      user-select: none;
    }

    .flowControl {
      margin: 2rem;
      display:flex;
      gap: 1rem;

      button {
        border: none;
        width: 4rem;
        height: 4rem;
        border-radius: 2rem;
        font-size: x-large;
        background: #363636;
        opacity: 50%;
        transition: .2s;

        &:enabled {
          opacity: 100%;

          &:active {
            transform: scale(.9);
          }

          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
        }
      }
    }
  }

  #closeOverlay {
    right: 0px;
    position: fixed;
    margin: 1rem;
    background: #3a3a3a;
    border-color: #0c0c0c;

    &:hover {
      cursor: pointer;
    }
  }
}

/* scroll styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-corner {
  background: #5f5f5f7a;
  border-radius: 100%;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #5f5f5f7a;
  border-radius: 10px;

  &:hover {
    background: #4d4d4dcc;
  }
}
